{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
    <div class="container pt-5 mb-4">
      <h1 class="m-5 text-center">Escoge un Post para ver</h1>
        <div class="row">
            {% for post in quill_posts %}
            <div class="col-md-8 offset-md-2">
                <div class="card mb-3 border-1" style="max-width: 45rem;">
                    <div class="row g-0">
                      <div class="col-md-4 d-flex">
                        <img src="{{ post.image_url }}" class="img-fluid rounded-start" style="object-fit: cover;" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{ post.title }}</h5>
                          <p class="card-text">{{ post.description }}</p>
                          <div class="col text-center">
                            <a href="{% url 'detail' quillpost_id=post.id %}" class="btn btn-dark">Ver post</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}